<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571655594202-io4dodqi3qooklhffbiq0hggpp3ndaot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571655594202-io4dodqi3qooklhffbiq0hggpp3ndaot</string>
	<key>API_KEY</key>
	<string>AIzaSyBy44n1pRSYXHGdSTGcZXLV7XncR0-kY-0</string>
	<key>GCM_SENDER_ID</key>
	<string>571655594202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.englishdictorionary.gcapps.englishDictionary</string>
	<key>PROJECT_ID</key>
	<string>english-dictionary-7f559</string>
	<key>STORAGE_BUCKET</key>
	<string>english-dictionary-7f559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571655594202:ios:c52df82cbfe2d2ad4905e3</string>
</dict>
</plist>